.dashboard_container
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
}
.dashboard_nav{
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 270px;
    padding: 5px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.posts_container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
}
.dashboard_nav_logo{
    margin-left: 50px;
}
.dashboard_button{
    background: #fff;
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
    color: #000;
}
.dashboard_button_img{

gap: 10px;
}