.dashboard_container
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
}
.dashboard_container_1
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 40px;
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;

}
.dashboard_nav{
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 270px;
    padding: 5px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.posts_container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    padding: 50px;

}
.dashboard_nav_logo{
    margin-left: 40px !important;
}
.dashboard_button{
    background: #fff ;
    text-align: left !important;
    width: 100%;
    margin-bottom: 10px !important;
    color: #000;
}
.dashboard_button_create{

    width: 20%;

}
.dashboard_button_img{


}

.dashboard_content_nav{
    width: 100%;
    margin-left: 50px;


}

@media screen and (max-width: 800px) {
   
    .dashboard_container
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.dashboard_nav{
    background: rgb(255, 255, 255);
    height: 50vh;
    width: 100%;
    padding: 5px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dashboard_button_create{

    width: 100%;

}
}
