.dashboard_container
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
}
.dashboard_container_1
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 40px;
    height: 100vh;
    padding: 50px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
}
.dashboard_nav{
    background: rgb(255, 255, 255);
    min-height: 100vh;
    min-width: 270px ;
    padding: 25px;
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dashboard_content{
    min-height: 100vh;

}
.posts_container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    padding: 50px;
    

}
.dashboard_nav_logo{
    margin-left: 0px !important;
    position: sticky !important;

}
.dashboard_button{
    background:  rgb(251, 238, 255) !important ;
    text-align: left !important;
    width: 100%;
    margin-bottom: 10px !important;
    column-gap: 3px;
    color: #000;
    box-shadow: none !important;

}
.dashboard_button_create{
background: #b16c8e !important;
    width: 50% !important;

}
.dashboard_button_img{


}

.dashboard_content_nav{
    width: 100%;
    margin-left: 5vw;
    padding-top: 10px;
    margin-bottom: -20px;


}

.posts_container_diary{
    background-image: url("/spiral.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh;
    top: -52px;
    position: relative;
    overflow: visible !important; 
}
@media screen and (max-width: 800px) {
   
    .dashboard_container
{
    background-image: url("/bg2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.dashboard_nav{
    background: rgb(255, 255, 255);
    min-height: 68vh;
    width: 100%;
    padding: 5px;
    padding-top: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

.dashboard_button_create{

    width: 100% !important;

}
.dashboard_content_nav{
    width: 100%;
    margin-left: 0vw;
    padding-top: 10px;
    text-align: center;


}
.posts_2_container
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
}

@media (min-width: 1500px) and (max-width: 2024px){
    .posts_container_diary{

        top: -63px;

    }
}
@media  (min-width: 1265px) and (max-width: 1499px){
    .posts_container_diary{

        top: -56px;

    }
}

@media (min-width: 2024px) and (max-width: 3000px){
    .posts_container_diary{

        top: -74px;

    }
}